{% extends "actions/base.html" %}
{% load i18n static %}

{% block title %}
  {% trans 'Email Verification' %}
{% endblock %}

{% block content_title %}
  {% if is_completed %}
    {% trans 'Successful Email Verification!' %}
  {% else %}
    {% trans 'Invalid Verification!' %}
  {% endif %}
{% endblock %}


{% block content_message %}
  {% if is_completed %}
    {% blocktrans %}
    Your email address: <b>{{ email }}</b> has been verified Successfully!!.
    {% endblocktrans %}
  {% else %}
    The email verification link <b>has expired or is invalid.</b> Try with another new one.
  {% endif %}
{% endblock %}


{% block go_back %}
    <p class="mt-3 leading-5 text-gray-500 text-center">
        {% blocktrans %}
            Please return to the application where you started the verification.
        {% endblocktrans %}
    </p>
{% endblock %}
