{% load i18n %}
<tr>
  <td style="padding: 0 20px 20px;">
    <!-- IMAGE QR : BEGIN -->
    <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0"
           style="margin: auto;">
      <tr>
        <td style="padding: 10px; text-align: center">
          <img
            src="{{ access_code }}"
            width="320" height="" alt="alt_text" border="0"
            style="width: 100%; max-width: 320px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 15px; color: #555555;">
        </td>
      </tr>
      <tr>
        <td style="padding: 20px 0px; text-align: center; font-family: sans-serif; font-size: 15px; line-height: 20px;">
          <i>{% trans 'Here is your access code to enter classes.' %}</i>
        </td>
      </tr>
    </table>
    <!-- IMAGE QR : END -->
  </td>
</tr>
