{% extends "actions/base.html" %}
{% load i18n %}

{% block title %}
  {% trans 'Reset Password' %}
{% endblock %}


{% block content_title %}
  {% trans 'Reset Password' %}
{% endblock %}

{% block content_message %}
  <p class="mb-2 text-gray-500">
    {% trans 'Enter and confirm your new password.' %}
  </p>
  <div class="flex min-h-full flex-col justify-center px-2 py-5 lg:px-8">
    <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-sm">
      {% include 'components/form_errors.html' with form_errors=form.non_field_errors %}
      
      <form class="space-y-6 text-left" action="" method="POST">
        {% csrf_token %}

        {# field: password1 #}
        {% trans 'New Password' as password1_label %}
        {% include 'components/composed_input.html' with input_label=password1_label input_errors=form.password1.errors input_type="password" input_id="password1" input_name="password1" input_value=form.password1.value %}

        {# field: password2 #}
        {% trans 'Confirm Password' as password2_label %}
        {% include 'components/composed_input.html' with input_label=password2_label input_error=form.password2.errors input_type="password" input_id="password2" input_name="password2" input_value=form.password2.value %}
      
        <div>
          {% trans 'Change Password' as button_label %}
          {% include 'components/submit_button.html' with button_label=button_label %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block go_back %}{% endblock %}
