{% extends "emails/base.html" %}
{% load i18n static %}

{% block icon %}
  {% static 'emails/email.png' %}
{% endblock %}

{% block title %}
  {% trans 'Membership Deactivated!' %}
{% endblock %}

{% autoescape off %}

{% block message %}
  {% blocktranslate %}
    Your membership <i>{{ membership_plan_name }}</i> has been deactivated in <b>{{ tenant_name }}</b>.
    You can also check your account by clicking the button below.
  {% endblocktranslate %}
{% endblock %}

{% block action_label %}
  {% trans 'GO TO MY ACCOUNT' %}
{% endblock %}

{% endautoescape %}
